*.cache
Lib/.*.aux
Lib/*.v.d
*.v.d
*.glob
Lib/*.glob
*.vo
Lib/*.vo
*.aux
Target.hs
../Target.hs
*.hi
*.o
Compiler/PrettyPrintVerilog
Compiler/CompAction
obj_dir
top.sv
*.vcd
*.mem
Makefile.coq.*
Makefile.coq
.coqdeps.d
*~
*.md
*.hs
FixLits
